In [ ]:
#Load dataset

import pandas as pd 

sales = pd.read_excel('C:/Users/karen/OneDrive/Documenten/Master DDB/ai/assignmentDataset/sales.xlsx')

print(sales.head())

   year     release_date                title              genre  \
0  2000      January 1st         Bakha Satang              Drama
1  2001     January 12th            Antitrust  Thriller/Suspense
2  2000     January 28th             Santitos                NaN
3  2002  2002 (Wide) by   Frank McKlusky C.I.                NaN
4  2002     January 25th   A Walk to Remember              Drama

   international_box_office  domestic_box_office  worldwide_box_office  \
0                   76576.0                  NaN               76576.0
1                 6900000.0           10965209.0            17865209.0
2                       NaN             378562.0                   NaN
3                       NaN                  NaN                   NaN
4                 4833792.0           41227069.0            46060861.0

   production_budget  Unnamed: 8  opening_weekend  theatre_count  \
0                NaN         NaN              NaN            NaN
1         30000000.0         NaN        5486209.0         2433.0
2                NaN         NaN              NaN            NaN
3                NaN         NaN              NaN            NaN
4         11000000.0         NaN       12177488.0         2411.0

   avg run per theatre  runtime       keywords         creative_type  \
0                  NaN    129.0            NaN  Contemporary Fiction
1                  3.1      NaN            NaN  Contemporary Fiction
2                  NaN    105.0            NaN                   NaN
3                  NaN      NaN            NaN                   NaN
4                  5.3      NaN  Coming of Age  Contemporary Fiction

                                                 url
0  https://www.the-numbers.com/movie/Bakha-Satang...
1        https://www.the-numbers.com/movie/Antitrust
2         https://www.the-numbers.com/movie/Santitos
3  https://www.the-numbers.com/movie/Frank-McKlus...
4  https://www.the-numbers.com/movie/Walk-to-Reme...

In [ ]:
# Explore columns information

print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30612 entries, 0 to 30611
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      30612 non-null  int64
 1   release_date              30612 non-null  object
 2   title                     30604 non-null  object
 3   genre                     28908 non-null  object
 4   international_box_office  21575 non-null  float64
 5   domestic_box_office       11884 non-null  float64
 6   worldwide_box_office      21575 non-null  float64
 7   production_budget         4480 non-null   float64
 8   Unnamed: 8                0 non-null      float64
 9   opening_weekend           10929 non-null  float64
 10  theatre_count             10963 non-null  float64
 11  avg run per theatre       10952 non-null  float64
 12  runtime                   24559 non-null  float64
 13  keywords                  12517 non-null  object
 14  creative_type             26667 non-null  object
 15  url                       30612 non-null  object
dtypes: float64(9), int64(1), object(6)
memory usage: 3.7+ MB
None
               year  international_box_office  domestic_box_office  \
count  30612.000000              2.157500e+04         1.188400e+04
mean    2014.542108              1.586202e+07         1.735331e+07
std        5.525085              6.659680e+07         5.050972e+07
min     2000.000000              2.000000e+00         2.000000e+01
25%     2012.000000              2.637500e+04         2.986550e+04
50%     2016.000000              3.348470e+05         2.587510e+05
75%     2019.000000              4.282312e+06         7.667212e+06
max     2021.000000              2.085392e+09         9.366622e+08

       worldwide_box_office  production_budget  Unnamed: 8  opening_weekend  \
count          2.157500e+04       4.480000e+03         0.0     1.092900e+04
mean           2.524796e+07       3.642238e+07         NaN     5.488562e+06
std            1.009796e+08       4.644049e+07         NaN     1.633207e+07
min            2.000000e+00       1.100000e+03         NaN     1.100000e+01
25%            3.422900e+04       6.500000e+06         NaN     7.352000e+03
50%            4.753220e+05       2.000000e+07         NaN     4.087500e+04
75%            6.302152e+06       4.500000e+07         NaN     2.150979e+06
max            2.845900e+09       4.000000e+08         NaN     3.571150e+08

       theatre_count  avg run per theatre       runtime
count   10963.000000         10952.000000  24559.000000
mean      723.147040             4.124562    101.502993
std      1246.401636             3.423855     27.194334
min         1.000000             0.000000     11.000000
25%         2.000000             2.000000     89.000000
50%         8.000000             3.400000     97.000000
75%       969.500000             5.400000    110.000000
max      4725.000000            88.400000   2020.000000

In [ ]:
# Check for missing values

df = pd.read_excel('C:/Users/karen/OneDrive/Documenten/Master DDB/ai/assignmentDataset/sales.xlsx')

print(df.isnull().sum())

year                            0
release_date                    0
title                           8
genre                        1704
international_box_office     9037
domestic_box_office         18728
worldwide_box_office         9037
production_budget           26132
Unnamed: 8                  30612
opening_weekend             19683
theatre_count               19649
avg run per theatre         19660
runtime                      6053
keywords                    18095
creative_type                3945
url                             0
dtype: int64

In [21]:
# Identify duplicates

print(df.duplicated().sum())

0

In [ ]:
# Drop NaN/missing values
# I don't know how to do this!

In [ ]:
# Saving dataset as a csv file
#sales.to_csv('.csv', index=False)

#print("Cleaned dataset saved as 'csv'")